html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f2f6f7;
}

.active {
  font-weight: 800;
}

.intro__image {
  background-image: url("../images/backgroundimages/secondheroimage.jpg");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
}

.bergenActivities__item__image1 {
  background-image: url("../images/backgroundimages/boatTrips.jpg");
  height: 200px;
  background-repeat: no-repeat;
}
.bergenActivities__item__image2 {
  background-image: url("../images/backgroundimages/hiking.jpg");
  height: 200px;
  background-repeat: no-repeat;
}
.bergenActivities__item__image3 {
  background-image: url("../images/backgroundimages/cultureandShopping.jpg");
  height: 260px;
  background-repeat: no-repeat;
}
