button {
  background-color: getColour(secondary);
  font-size: 1.4em;
  border: none;
  font-family: "catmaran" sans-serif;
  font-weight: 800;
  color: white;
  box-shadow: getColour(input) 0px 3px 6px;
}

.logOutButton,
.btn--cancel {
  background-color: white;
  color: black;
  padding: 0.6em 4em;
  border-radius: 9px;
  box-shadow: getColour(input) 0px 3px 6px;
}

.logOutButton {
  margin-top: 20px;
}

.logOutButton:hover {
  background-color: darken(white, 5);
}

.linkBtn {
  display: flex;
  justify-content: center;
  margin: 30px;

  a {
    background-color: getColour(secondary);
    text-decoration: none;
    color: white;
    padding: 0.6em 1em;
    box-shadow: getColour(input) 0px 3px 6px;
    font-size: 1.4em;
  }
  a:hover {
    background-color: darken(getColour(secondary), 5);
  }
}
