.modal--hidden {
  display: none;
}

.modal {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #ffffffcb;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: scroll;

  &__description {
    padding: 5em;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column-reverse;
  background-color: rgb(255, 255, 255);
  max-width: 320px;
  margin: auto;
  padding: 1em;

  @media (min-width: 1310px) {
    flex-direction: row;
    max-width: 1310px;
  }
}

.modal {
  &__accomodationInfo {
    background-color: getColour(primary);
    margin-bottom: 10px;
    padding: 1em;
  }

  @media (min-width: 1310px) {
    &__accomodationInfo {
      max-width: 630px;
      margin: 1em;
    }
  }
}
